<!-- Main jumbotron for a primary marketing message or call to action -->
<% provide(:home, "active") %> <!-- This value is being passed to the yield in the nav bar-->

<div class="jumbotron" style="background-color: #8F8FA7; opacity: 15">
  <div class="chevron">
      <div class="container">
        <h1 class="google">Help a Mother!</h1>
        <p class="google_pg">This is a site dedicated to giving and getting motherly advise. If you are new to motherhood, if you have encounter something unusual on this journey, if your child does something funny, if you need to vent without feeling gulity, WE ARE HERE FOR YOU! Mother to Mother :-)</p>
      </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 class="google">Gotta Question?</h2>
      <p class="google_pg">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to "Enter", questions_url, :class => "btn btn-default"  %></p>
    </div>
    <div class="col-md-4">
      <h2 class="google">Gotta Funny?</h2>
      <p class="google_pg">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to "Enter", funnies_url, :class => "btn btn-default"  %></p>
    </div>
    <div class="col-md-4">
      <h2 class="google">Gotta Vent?</h2>
      <p class="google_pg">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><%= link_to "Enter", vents_url, :class => "btn btn-default"  %></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; BrittanyRansom 2015</p>
  </footer>
</div> <!-- /container -->
