@import "bootstrap-sprockets";
@import "bootstrap";

.google {
  font-family: 'The Girl Next Door', cursive;
}

.google_pg {
  font-family: 'Quicksand', sans-serif;
}

.chevron {
  background-image:url('mintchev.png');
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}